body {
    background-color: #000;
}

.stopwatch-time {
    text-align: center;
    color: #fff;
    font-size: 80px;
}

.stopwatch-buttons {
    display: flex;
    justify-content: center;
}

.stopwatch-buttons button {
    margin: 20px;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    color: #fff;
}

#startButton {
    background-color: green;
}

#stopButton {
    background-color: rgb(255, 0, 0);
}

#resetButton {
    background-color: rgb(0, 85, 255);
}