@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap');
* {
  margin: 0;
  padding: 0;
}
p {
  font-family: 'Open Sans', sans-serif;
}
.pete {
  display:flex;
  margin-bottom: 6%;
  align-items: center;
}
.pete img {
  width:25%;
}
.pete p {
  font-size: 30px;
  font-weight: 700;
  margin-left: 3%
}
.signInContainer {
  text-align: left;
  margin-bottom: 9%;
}
#signIn {
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 5%;
}
#signInMessage {
  color: #82859B;
  font-weight: 600;
  font-size: 25px;
}
.login {
    height: 88vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #dcdcdc;
  }
  .login__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    padding: 30px;
    height:85%;
    width:25%;
    border-radius: 5%;
    margin: 0 15% 0 15%;
  }
  .login__textBox {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .login__btn {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border: none;
    color: white;
    background-color: black;
    border-radius: 10px;
    margin-bottom: 5%;
  }
  .login div {
    margin-top: 7px;
  }
  .bottomLinks {
    text-align: left;
  }
  #forgot {
    margin-bottom: 5%;
  }
  .welcomeSignIn {
    width: 40%;
    height:88vh;
    background-image: linear-gradient(rgba(199,178,131,1) , rgba(255,255,255));
    display: flex;
    flex-direction: column;
    margin:0;
    align-self: flex-end;
  }
  #getStarted {
    font-weight: 700;
    font-size: 40px;
    margin:7% 0 10% 15%;

  } 
  .welcomeSignIn img {
    width:70%;
    margin: 0 auto 0 auto;
  }
  #components {
    font-weight: 700;
    font-size: 25px;
    margin: 5% 0 5% 15%;
  }
  .welcomeSignIn ul{
    margin: 0 0 10% 15%;
    font-weight: 400;
    font-size: 20px;
    list-style: none;
  }
  .welcomeSignIn li {
    margin-bottom: 3%;
  }
  .welcomeSignIn ul li:before {
    content: '✓    ';
  }